@import "../base.css";

.login {
  display: flex;
  height: 100%;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  & h1, & h2, & h3 {
    font-weight: 100;
    color: #FFF;
  }

  & h1 {
    font-size: 30pt;
  }

  & h3 {
    color: #D32F2F;
  }

}
