@import "../base.css";

.features {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  flex-wrap: wrap;

  & .add {
     display: flex;
     flex-flow: column;
  }

  & .development, & .new {
    width: 50%;
    min-width: 400px;
    & .title {
      text-align: center;
      font-size: 20pt;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      color: #FFF;
    }

    & .card {
      padding: 10px;
    }

  }
}
