.feedback {
  display: flex;
  flex-flow: column;
  align-items: center;

  & .title {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  & .title h1 {
    font-size: 40pt;
    color: #EC407A;
    text-align: center;
    font-weight: 100;
  }
}
