@import "../base.css";

.keys {
  overflow-y: auto;
  & .params {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    & .param {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
    }
  }

  & .table {
    margin-top: 10px;
    & .toggle {
      width: 200px;
    }
  }

  & .info {
    text-align: center;
    padding: 10px;
    color: #FFF;
    font-size: 16pt;
  }
}
